<main id="main" class="main">
  <div class="pagetitle">
    <h1>Table Products</h1>
  </div>
  <div class="d-flex my-2">
    <a class="btn btn-success" routerLink="/create">Add products</a>
  </div>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="getProductsByCategory($event)">
      <mat-option value="all">All</mat-option>
      <mat-option value="accessories">Accessories</mat-option>
      <mat-option value="computers">Computers</mat-option>
    </mat-select>
  </mat-form-field>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allProducts">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.category }}</td>
              <td>
                <a
                  href=""
                  class="btn btn-primary"
                  [routerLink]="['/products/detail', item.id]"
                  ><i class="bi bi-search"></i
                ></a>
                <a
                  href=""
                  class="btn btn-warning"
                  [routerLink]="['/products/edit', item.id]"
                  ><i class="bi bi-pencil"></i
                ></a>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteProducts(item.id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
