<main id="main" class="main">
  <div class="pagetitle">
    <h1>Table Products</h1>
  </div>
  <div class="d-flex my-2">
    <a class="btn btn-success" routerLink="/create">Add products</a>
  </div>
  <section class="section">
    <div class="row">
      <div *ngFor="let item of allProducts"  class="col-md-4">
        <div class="card" style="width: 18rem">
          <img src="{{item.images}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                {{ item.description }}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
